<div class="row">
        <div class="col-md-8 col-sm-8 movie-item">
            <div>
                <img src="<%= filmID.dataValues.film_Image %>" alt="Không load được ảnh" width="216" height="360">
                <a href="/film/<%= filmID.dataValues.film_ID %>"> <%= filmID.dataValues.film_Name %></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 movie-item">
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </div>
        
    </div>