<!DOCTYPE html>
<html>
<head>
    <title>Admin web đặt vé phim</title>
</head>
<body>
    <ul>
        <li><a href="/admin/update/cinema/"> Cập nhật lại thông tin của rạp  </a></li>
    </ul>
</body>
</html>