<!DOCTYPE html> 
<html>
    <head>
        <title>Quên mật khẩu</title>
        <link rel="stylesheet" type="text/css" href="./css/forgotPassword.css"/>
    </head>
    <body>
        <form action="action_page.php" style="border:1px solid #ccc">
            <div class="container">
              <h1>Quên mật khẩu</h1>
              <p>Vui lòng điền thông email vào khung bên dưới.</p>
              <hr>
              <input type="text" placeholder="Enter Email" name="email" required>
          
              <div class="clearfix">
                <button type="submit" class="Password">Gửi lại mật khẩu</button>
              </div>
            </div>
        </form>

    </body>
</html>