<!DOCTYPE html>
<html>

<head>
    <title>VN Cinema</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>

    <!--Header-->
    <div id="header" class="jumbotron text-center">
        <h1 style="color: aqua">Chào mừng đến với Việt Nam Cinema</h1>
        <p class="signin"><a href="/Login" style="color:white">Đăng nhập</a><span style="color:rgb(202, 202, 202)"> /
            </span><a href="/signUp" style="color:greenyellow">Đăng ký</a></p>
    </div>

    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="#">VNCinema</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Mua vé</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href="">Phim<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Đang chiếu</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sắp chiếu</a></li>
                </li>
            </ul>
            </li>
            <li><a href="#">Rạp và giá</a></li>
            <li><a href="#">Khuyến mãi</a></li>
            <li><a href="#">Hỗ trợ</a></li>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Gõ tên phim cần tìm">
                </div>
                <button type="submit" class="btn btn-default">Tìm</button>
            </form>
            </ul>
        </div>
    </nav>


    <!--Content area-->

    





    <!--Footer-->




</body>

</html>