<!DOCTYPE html>
<html>

<head>
    <title>VN Cinema</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/home.css">
</head>

<body>

    <!--======================================================================================
                                             Header
    =======================================================================================-->
    <header>
        <!--Header Top-->
        <div id="header">
            <h1>Chào mừng đến với Việt Nam Cinema</h1>
            <p class="signin"><a href="/Login" style="color:turquoise">Đăng nhập</a><span> / </span><a
                    href="/signUp">Đăng ký</a>
            </p>
        </div>

        <!--Menu header-->
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="logo" class="navbar-brand" href="#">VNCinema</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Mua vé</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">Phim<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Đang chiếu</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sắp chiếu</a></li>
                    </li>
                </ul>
                </li>
                <li><a href="#">Rạp và giá</a></li>
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Hỗ trợ</a></li>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nhập tên phim cần tìm">
                    </div>
                    <button type="submit" class="btn btn-default">Tìm</button>
                </form>
                </ul>
            </div>
        </nav>

        <!--Sile header-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://galaxycine.vn/media/2019/5/21/aladdin-sneakshow-web3_1558410901300.jpg" alt="Không load được ảnh">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="https://galaxycine.vn/media/2019/5/21/2048x682-vgd_1558425937453.jpg" alt="Không load được ảnh">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="https://galaxycine.vn/media/2019/5/21/banner-sneakshow-2048-x-682_1558431398094.jpg" alt="Không load được ảnh">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="https://galaxycine.vn/media/2019/5/23/2048x682_1558584069148.jpg" alt="Không load được ảnh">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="https://galaxycine.vn/media/2019/4/1/nk-2048-x-682_1554087821449.jpg" alt="Không load được ảnh">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>
        
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>


    </header>

    <!--======================================================================================
                                            Content area
    =======================================================================================-->
    <div class="content-area">
        <div class="tab-movies"> 
            <div class="tab-movies-line">
                    <% if (typeof filmID !== 'undefined') { %>
                        <% include content/filmID.ejs %>
                    <% } %>
                <ul class="nav nav-tabs movie-home">
                    <li class="active"><a href="#tab_default_1" data-toggle="tab" aria-expanded="true">Phim đang chiếu</a>
                    </li>
                    <li class=""><a href="#tab_default_2" data-toggle="tab" aria-expanded="false">Phim sắp chiếu</a>
                    </li>
                </ul>
                <div class="tab-content">
                        
                    <div id="tab_default_1" class="tab-pane active">
                        <div class="row movies-group animated fadeInUp">
                            <% if (typeof film !== 'undefined') { %>
                                <% include content/indexContent.ejs %>
                            <% } %>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                    <a href="/phim-dang-chieu" class="btn secondary fl-right">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab_default_2" class="tab-pane">
                        <div class="row movies-group animated fadeInUp">
                            <% if (typeof film !== 'undefined') { %>
                                <% include content/indexContent2.ejs %>
                            <% } %>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                                    <a href="/phim-sap-chieu" class="btn secondary fl-right">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>  
    </div>


    <!--======================================================================================
                                            Footer
    =======================================================================================-->
    <footer class="footer-bg">
        <div class="contener">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="list-styled">
                        <h1>Giới thiệu</h1>
                        <ul>
                            <li>
                                <a href="/ve-chung-toi"><i class="fa fa-angle-double-right"></i>Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="/thoa-thuan-su-dung"><i class="fa fa-angle-double-right"></i>Thoả thuận sửdụng</a>
                            </li>
                            <li>
                                <a href="/quy-che-hoat-dong"><i class="fa fa-angle-double-right"></i>Quy chế hoạt động</a>
                            </li>
                            <li>
                                <a href="/chinh-sach-bao-mat"><i class="fa fa-angle-double-right"></i>Chính sách bảo mật</a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <ul class="list-styled">
                        <h1>Hỗ trợ</h1>
                        <ul>
                            <li>
                                <a href="/gop-y"><i class="fa fa-angle-double-right"></i>Góp ý</a>
                            </li>
                            <li>
                                <a href="/rap-gia-ve"><i class="fa fa-angle-double-right"></i>Rạp / giá vé</a>
                            </li>
                            <li>
                                <a href="/tuyen-dung"><i class="fa fa-angle-double-right"></i>Tuyển dụng</a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="list-styled">
                        <h1>Kết nối Việt Nam Cinema</h1>
                        <div class="social-icons">
                            <ul class="nomargin">
                                <a href="https://facebook.com/galaxycine.vn" target="_blank"><i id="social" class="icon-facebook-app-logo social-fb">fb</i></a>
                                <a href="https://www.youtube.com/user/galaxymovies" target="_blank"><i id="social" class="icon-youtube-logo social-youtube">yt</i></a>
                                <a href="https://www.instagram.com/galaxycinema/" target="_blank"><i id="social" class="icon-instagram-logo social-inst">ins</i></a>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>