<!DOCTYPE html>
<html>
    <head>
        <title>Chỉnh sửa thông tin cá nhân </title>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/public/css/user/infoUser.css">
        <link rel="stylesheet" type="text/css" href="/public/css/home.css">

    </head>
    <body>
        <h1 style="text-align: center">Thông tin cá nhân</h1>
        

        <div class="container">
            <div class="row profile">
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"><%= user.dataValues.user_Name %></div>
                            <div class="profile-usertitle-job">[Nghề nghiệp user]</div>
                        </div>
                        <div class="profile-userbuttons">
                            <button type="button" class="btnuser">Đổi tên</button>
                        </div>
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <a href="#infofull" data-toggle="tab" aria-expanded="true">
                                        <i class="glyphicon glyphicon-home"></i>
                                        Thông tin tổng quan 
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#infobasic" data-toggle="tab" aria-expanded="false">
                                        <i class="glyphicon glyphicon-user"></i>
                                        Tài khoản 
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#infohelp" data-toggle="tab" aria-expanded="false">
                                        <i class="glyphicon glyphicon-flag"></i>
                                        Trợ giúp 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-content">
                        <div id="infofull" class="tab-pane fade in active" style="z-index: 1">
                            <% include users/infofull.ejs %>
                        </div>
                        <div id="infobasic" class="tab-pane fade" style="z-index: 0">
                            <% include users/infobasic.ejs %>
                        </div>
                        <div id="infohelp" class="tab-pane fade" style="z-index: 0">
                            <% include users/infohelp.ejs %>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Đoạn xử lý nổi phần tử-->
        <script>
            $(function () {
                var href_a;
                $('a').click(function () {
                    var html = ["Click từng phần tử li để xem kết quả:"];
                    href_a = $(this).attr('href');
                    if (href_a == "#infofull") {
                        $("#infofull").css("z-index", "1");
                        $("#infobasic").css("z-index", "0");
                        $("#infohelp").css("z-index", "0");
                    };
                    if (href_a == "#infobasic") {
                        $("#infofull").css("z-index", "0");
                        $("#infobasic").css("z-index", "1");
                        $("#infohelp").css("z-index", "0");
                    };
                    if (href_a == "#infohelp") {
                        $("#infofull").css("z-index", "0");
                        $("#infobasic").css("z-index", "0");
                        $("#infohelp").css("z-index", "1");
                    };
                });
            });
        </script>


    </body>
</html>




