<!DOCTYPE html> 
<html>
    <head>
        <title>Đăng nhập</title>
    </head>
    <body>
        <form action="" method="POST">
            <h1> Đăng nhập</h1>
            <label>Email :</label> <input type="email" placeholder="Nhập vào Email " name="user_email" id="user_email"/>
            <label>Mật khẩu :</label><input type="password" placeholder="Nhập vào password" name="user_password" id="user_password" />
            <input type="submit" value="Đăng nhập">
        </form>
    </body>
</html>