<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <script src="../js/signup.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/signUp.css">
</head>

<body>
    <div class="container" id="wrap">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <form action="r" method="post" accept-charset="utf-8" class="form" role="form" onsubmit="return CheckSubmit()">   
                <legend><center>Sign Up</center></legend>
                      <h4>It's free and always will be.</h4>
                      <input type="text" name="txtemail" id="txtemail" value="" class="form-control input-lg" placeholder="Your Email"/>
                      <input type="text" name="txtname" id="txtname" value="" class="form-control input-lg" placeholder="Name"/>
                      <input type="text" name="txtnumberPhone" id="txtnumberPhone" value="" class="form-control input-lg" placeholder="Number Phone"/>
                    
                      <input type="password" name="txtpassword" id="txtpassword" value="" class="form-control input-lg" placeholder="Password"/>
                      <input type="password" name="txtconfirm_password" id="txtconfirm_password" value="" class="form-control input-lg" placeholder="Confirm Password"/>                    <label>Birth Date</label>                    <div class="row">
                          
                      </div>
                       <label>Gender : </label>                    <label class="radio-inline">
                          <input type="radio" name="gender" value="M" id=male />                        Male
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="gender" value="F" id=female />                        Female
                      </label>
                      <br />
                <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                      <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                          Create my account</button>
              </form>          
            </div>
  </div>            
  </div>
  </div>    
</body>
</html>