<!DOCTYPE html>
<html>
    <head>
        <title> Đăng ký  </title>
    </head>
	<body>
        <form method="POST" action="">
            <h1>Sign up</h1>
            <label>Email :</label>
            <input type="email" placeholder="Nhập vào email đăng ký :" name="email_user" id ="email_user"/>
            <label>Họ và tên :</label>
            <input type="text" placeholder="Nhập vào họ và tên :" name="name_user" id="name_user"/>
            <label>Số điện thoại :</label>
            <input type="number" placeholder="Nhập vào số điện thoại :" name="phonenumber_user" id="phonenumber_user"/>
            <label>Mật khẩu :</label>
            <input type="password" placeholder="Nhập vào mật khẩu" name="password_user" id="password_user"/>
            <label>Nhập lại mật khẩu :</label>
            <input type="password" placeholder="Nhập lại mật khẩu" name="password_user_again" id="password_user_again"/>
            <input type="submit" value="Đăng ký" /> 
        </form>
    </body>
</html>
