.form-gap {
  padding-top: 70px;
}
.btn-block{
  color: black;
      background-color: #FFC312;
}
html,body{
  background-image: url('../image/bgLogin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  }
  .panel-body{
    background-color: #A7BED8 !important;
  }
  h2,h3{
    color: white;
    text-align: center;
    font-size: 33px;
}
