@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
background-image: url('https://i.ibb.co/vsnjYtF/coast-aerial-view-wallpaper-1366x768.jpg');

background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.form-gap {
  padding-top: 70px;
  background-color: #A7BED8 !important; 
  }
  .panel-body{
    background-color: #A7BED8 !important;
  }
.container{
  background-color: #A7BED8 !important;
}
