html, body {
   margin:0;
   padding:0;
   height:100%;
}



/*======================================================================================
                                        Header
=======================================================================================*/
header{
    padding: 0 5% 5% 5%;
}

#logo{
    color: tomato;
}

#header{
    width: 100%;
    background-image: url("../image/background-header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#header h1{
    color: whitesmoke;
}

#header p{
    padding: 0 15px 0 0;
    text-align: right;
}

#header p a{
    color:greenyellow;
}

#header p span{
    color:white;
}

/*======================================================================================
                                        Content area
=======================================================================================*/

.content-area{
    padding: 0 10% 0 10%;
    text-align: center;
    position : relative;
    min-height : 100%;
}



/*======================================================================================
                                        Footer
=======================================================================================*/

.footer-bg {
    padding: 0 10% 0 10%;
    background: #222;
    border-top: 5px solid #333;
    color: #ccc;
    font-weight: bold;
    line-height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: static;
}

footer div div div ul h1{
    font-size: 20px;
}