<% if(typeof filmID !== 'undefined') { %>
    <div>
        <form action="" method="POST">
            <label>Tên :</label><input type="text" id="txtFilmName" name ="txtFilmName" size="40" value="<%= filmID.dataValues.film_Name %>"/> <br/>
            <lable>Ngày công chiếu :</label> <input type="datetime" id="datePlublic" name="datePlublic" value="<%= filmID.dataValues.film_DatePublic %>"/> <br/>
            <label>Hình ảnh :</label><img src="<%= filmID.dataValues.film_Image %>"/>
            <input type="submit" value="cập nhật "/>
        </form> 
    </div>
<% } %>