<h1>Chào mừng đến với Việt Nam Cinema</h1>
<p class="signin"><a href="/updateinfo" style="color:turquoise"><%= ObjectHome.useR.user.dataValues.user_Name %></a><span> / </span><a href="/logout">Đăng xuất </a>
</p>