/* table admin*/
#table table{
    border-collapse: collapse;
    width: 100%;
    border: #4CAF50 1px solid;
}

#table table th,td {
    text-align: center;
    padding:8px;
    border: #4CAF50 1px solid;
}

#table table tr th {
    background-color: #4CAF50;
    color: white;
}


#table table tr td img {
    width: 50px;
    height: 50px;
}

#search{
    margin-top: 20px;
    background-image: url('/public/image/icon-search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 10px;
    padding: 12px 20px 12px 40px ;
    border :1px solid #ddd;
    margin-bottom: 12px;
}

#create_film form{
    border: 1px solid #4CAF50;
}

#create_film form input[type=text],input[type=file],input[type=date],input[type=number]{
    width : 30%;
    padding :5px 5px;
    margin: 2px 0;
    display: inline-block;
    box-sizing: border-box;
}

#create_film button{
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#create_film button:hover{
    opacity: 0.8;
}

#create_film {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  