<div class="content-area">
    <div style="text-align: center">
        <div style="font-weight: bold; font-size: 20px">Vui lòng nhập thông tin bên dưới, sẽ có nhân viên hỗ trợ ngay
            khi có thể!</div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
            <strong>Họ và tên :</strong>
            <br />
            <br />
            <strong>Số điện thoại : </strong>
            <br />
            <br />
            <strong>Email :</strong>
            <br />
            <br />
            <br />
            <br />
            <strong>Phản hồi :</strong>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
            <input type='text' name='txtUserName' value="Tên của bạn" style="width: 240px">
            <br />
            <br />
            <input type="text" name='txtUserNumberPhone' value="Số điện thoại của bạn" style="width: 240px">
            <br />
            <br />
            <input type="email" name='txtUserEmail' value="Email bạn muốn nhận thư phản hồi" style="width: 240px">
            <br />
            <br />
            <input type="test" name='txtUserEmail' value="Thắc mắc của bạn" style="width: 70%; height: 66px">
        </div>
    </div>
    <div style="text-align: right; padding-right: 20%; margin-top: 20px ">
        <button class="btnuser">Gửi</button>
    </div>
</div>